<!-- <div id="search-component">
    <h4>Player Search</h4>
  
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let player of players$ | async" >
        <a routerLink="/detail/{{player.id}}">
          {{player.firstName}} {{player.lastName}}
        </a>
      </li>
    </ul>
  </div> -->
  <div>
  <form class="form-inline my-2 my-lg-0">
      <input #searchBox class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup)="search(searchBox.value)">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  </form>
  <ul class="search-result">
      <li *ngFor="let player of players$ | async" >
        <a routerLink="/detail/{{player.id}}">
          {{player.firstName}} {{player.lastName}}
        </a>
      </li>
    </ul>
  </div>