<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="players" class=players>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let player" class="badge" routerLink="/detail/{{player.id}}"> {{player.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.firstName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{player.lastName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="appearances">
          <mat-header-cell *matHeaderCellDef> Appearances </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{player.appearances}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="goals">
          <mat-header-cell *matHeaderCellDef> Goals </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{player.goals}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="passesSuccess">
          <mat-header-cell *matHeaderCellDef> Passes Completed </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{player.passesSuccess}} </mat-cell>
      </ng-container>  

      <ng-container matColumnDef="tacklesSuccess">
          <mat-header-cell *matHeaderCellDef> Tackles Completed </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{player.tacklesSuccess}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>