<!-- <app-player-search></app-player-search> -->

<h3>Top Players</h3>
<div class="grid grid-pad">
  <a *ngFor="let player of players" class="col-1-4"
        routerLink="/detail/{{player.id}}">
    <div class="module player">
      <h4>{{player.firstName}} {{player.lastName}}</h4>
    </div>
  </a>
</div>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>