<div *ngIf="player">
    <mat-grid-list cols="3" rowHeight="8:2">
        <mat-grid-tile>
          <mat-list role="list">
            <mat-list-item role="listitem">Shooting Accuracy : {{player.shooting_accuracy}}</mat-list-item>
            <mat-list-item role="listitem">Passing Accuracy : {{player.passing_accuracy}}</mat-list-item>
            <mat-list-item role="listitem">Tackling Accuracy: {{player.tackling_accuracy}}</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Shooting Accuracy : {{player.shooting_accuracy}}</mat-list-item>
                <mat-list-item role="listitem">Passing Accuracy : {{player.passing_accuracy}}</mat-list-item>
                <mat-list-item role="listitem">Tackling Accuracy: {{player.tackling_accuracy}}</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">Shooting Accuracy : {{player.shooting_accuracy}}</mat-list-item>
                <mat-list-item role="listitem">Passing Accuracy : {{player.passing_accuracy}}</mat-list-item>
                <mat-list-item role="listitem">Tackling Accuracy: {{player.tackling_accuracy}}</mat-list-item>
              </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
</div>
